In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("Fertilizer Recommendation.csv")
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [3]:
df.isnull().sum()

Temparature        0
Humidity           0
Moisture           0
Soil Type          0
Crop Type          0
Nitrogen           0
Potassium          0
Phosphorous        0
Fertilizer Name    0
dtype: int64

In [4]:
df.duplicated().sum()

0

In [5]:
df.describe()

       Temparature  Humidity    Moisture   Nitrogen  Potassium  Phosphorous
count    99.000000  99.000000  99.000000  99.000000  99.000000    99.000000
mean     30.282828  59.151515  43.181818  18.909091   3.383838    18.606061
std       3.502304   5.840331  11.271568  11.599693   5.814667    13.476978
min      25.000000  50.000000  25.000000   4.000000   0.000000     0.000000
25%      28.000000  54.000000  34.000000  10.000000   0.000000     9.000000
50%      30.000000  60.000000  41.000000  13.000000   0.000000    19.000000
75%      33.000000  64.000000  50.500000  24.000000   7.500000    30.000000
max      38.000000  72.000000  65.000000  42.000000  19.000000    42.000000

In [6]:
st = df["Soil Type"].unique()
ct = df["Crop Type"].unique()
fn =df["Fertilizer Name"]
print(ct)
print(st)
print(fn)

['Maize' 'Sugarcane' 'Cotton' 'Tobacco' 'Paddy' 'Barley' 'Wheat' 'Millets'
 'Oil seeds' 'Pulses' 'Ground Nuts']
['Sandy' 'Loamy' 'Black' 'Red' 'Clayey']
0         Urea
1          DAP
2     14-35-14
3        28-28
4         Urea
        ...
94       28-28
95    10-26-26
96        Urea
97         DAP
98       20-20
Name: Fertilizer Name, Length: 99, dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
df["Crop Type"]=le.fit_transform(df["Crop Type"])
df["Crop Type"].unique()
df["Soil Type"]=le.fit_transform(df["Soil Type"])
df["Soil Type"].unique()
df["Fertilizer Name"]=le.fit_transform(df["Fertilizer Name"])
df["Fertilizer Name"].unique()

array([6, 5, 1, 4, 2, 3, 0])

In [8]:
x=df.drop(columns=['Fertilizer Name'])
y= df["Fertilizer Name"]
x
y

0     6
1     5
2     1
3     4
4     6
     ..
94    4
95    0
96    6
97    5
98    3
Name: Fertilizer Name, Length: 99, dtype: int32

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2,random_state=0)

In [10]:
print(x_train.head())
print(y_train.head())

    Temparature  Humidity   Moisture  Soil Type  Crop Type  Nitrogen  \
43           34         65        60          0          8        35
62           34         65        64          0          1        24
3            32         62        34          3          9        22
71           31         62        32          3          9        39
45           38         70        48          2         10         8

    Potassium  Phosphorous
43          0            0
62          0           20
3           0           20
71          0            0
45          8           28
43    6
62    4
3     4
71    6
45    1
Name: Fertilizer Name, dtype: int32

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_absolute_error
kn=KNeighborsClassifier(n_neighbors=5)
s=SVC()
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
dc=DecisionTreeClassifier()
dc.fit(x_train,y_train)
s.fit(x_train,y_train)
kn.fit(x_test,y_test)
pred_y1=dc.predict(x_test)
pred_y2=rf.predict(x_test)
pred_y3=s.predict(x_test)
pred_y4=kn.predict(x_test)
print(pred_y1)
print(pred_y2)
print(pred_y3)
print(pred_y4)
print(f"Decision Tree accuracy: {mean_absolute_error (y_test,pred_y1)}")
print(f"RandomForest: {mean_absolute_error (y_test,pred_y2)}")
print(f"SVC: {mean_absolute_error (y_test,pred_y3)}")
print(f"KNN : {mean_absolute_error (y_test,pred_y4)}")

[1 0 1 4 2 6 6 6 2 4 5 0 2 4 6 4 5 3 1 4]
[1 0 1 4 1 6 6 6 2 4 5 0 0 4 6 4 5 3 1 4]
[5 1 5 4 1 6 6 6 3 4 5 1 1 4 6 4 5 3 5 4]
[1 0 1 4 0 6 6 6 1 4 1 0 0 4 6 4 1 4 1 4]
Decision Tree accuracy: 0.15
RandomForest: 0.0
SVC: 0.8
KNN : 0.55